POCKET_PROJECTS_PATH="/some/folder"
POCKET_PROJECTS_HOST_PATH="/some/folder"
POCKET_PORT="8000"

DUCK_LEAVE_REMINDER_ENABLED="true"
DUCK_LEAVE_REMINDER_MESSAGE="Add a one-line status update before leaving."
#DUCK_LEAVE_REMINDER_MESSAGE="Did you check?"

DUCK_PERIODIC_REMINDER_ENABLED="true"
DUCK_PERIODIC_REMINDER_MINUTES="30"
DUCK_PERIODIC_REMINDER_MESSAGE="Time to update the status."

DUCK_UID=""
DUCK_GID=""
